<!DOCTYPE html>


<html>

<head>
    <title>Affichage</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</head>

<body>
  <p><a href="/">Retour</a></p>
  <p>utiliser la touche Ctrl pour une sélection multiple</p>

    
          <select multiple class="custom-select" id=search_form_input name=ecole size="3">
            {% for eco in ecole %}
            <option value= "{{eco}}" >{{eco}}</option>"
            {% endfor %}
          </select>



<div id="place_for_suggestions"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$("#search_form_input").change(function(){
    var text = $(this).val();
    $.ajax({
      url: "/prix",
      type: "get",
      data: {jsdata: text.toString()},
      success: function(response) {
        $("#place_for_suggestions").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>


</body>

</html>
