<!DOCTYPE html>
<html lang="en">

  
<head>
  
  
  <meta charset="UTF-8">
  <meta name="description" content="choixecpme">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">
  <meta name="format-detection" content="telephone=no">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <style>
    div.absolute {
        position: absolute;
        top:47px;
        right: 50px;
        left: 250px;
      }
    
    </style>
</head>
<body>

  <button id="installButton">Install App</button>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

  <br>
 <p>Utiliser la touche Ctrl pour une sélection multiple</p>
   <br>
<form action="{{ url_for('main.my_form_post') }}" method="POST">
    <div class="absolute">

        <select class="custom-select" multiple name=specialite id=spe size="{{lens}}" >
            <option disabled  >choix de la (des) spécialité(s)</option>
                {% for spe in special %}
                <option value= "{{spe}}" SELECTED>{{spe}}</option>"
                {% endfor %}
          </select>
          <br>
          <br>
          
          <select class="custom-select"  name=annee id=annee  required size="3" >
            <option selected disabled value="" > choix de l'année</option>
            {% for ann in ["3/2","5/2"] %}
            <option value= "{{ann}}" >{{ann}}</option>"
            {% endfor %}
          </select>
          <br>
          <br>
          <select class="custom-select"  name=alternance id=alt required size="3">
            <option selected disabled value="" >choix de l'alternance</option>
            {% for alt in ["Oui","Non","Peu importe"] %}
            <option value= "{{alt}}" >{{alt}}</option>"
            {% endfor %}
          </select>
          <br>
          <br>
          <select class="custom-select" multiple name=region id=region  size="{{lenr}}">
            <option disabled  >choix de (des) région(s)</option>
             <option value="peu importe" >peu importe</option>
            {% for reg in region %}
            <option value= "{{reg}}" SELECTED>{{reg}}</option>"
            {% endfor %}
          </select>
          <br>
      
      <select class="custom-select"  name=typec id=typec  required size="3" >
            <option selected disabled value="" >Effort financier</option>
            {% for type in ["Public","Privé","peu importe"] %}
            <option value= "{{type}}" >{{type}}</option>"
            {% endfor %}
          </select>
        

            
 
        </div>
    <br>

    <div class="form-group w-10">
    <label for="fname">Notes CB1</label><br>
        
        
    <label for="fname">Maths</label><br>
    <input id="math"  required step='0.1' type="number" name="maths" min="0" max="20" >
    <br>
    <label for="fname">Physique</label><br>
    <input id="phy"  required step='0.1' type="number" name="physique" min="0" max="20">
    
    <br>
    <label for="fname">SI</label><br>
    <input id="si"  required step='0.1' type="number" name="si" min="0" max="20">
    
    <br>
    <label for="fname">Informatique</label><br>
    <input id="info"  required step='0.1' type="number" name="informatique" min="0" max="20">
    
    <br>
    <label for="fname">Anglais:</label><br>
    <input id="an"  required step='0.1' type="number" name="anglais" min="0" max="20">
    
    <br>
    <label for="fname">Francais</label><br>
    <input id="fr"  required step='0.1' type="number" name="francais" min="0" max="20" >
    
    <br>
    <label for="fname">Modélisation</label><br>
    <input id="mode"  required step='0.1' type="number" name="modelisation" min="0" max="20">
    
    <br>
      
    </div>
    
    <input type="submit">

</form>
</select>
</body>
</html>
