<!DOCTYPE html>
<html>
  <head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Prix</title>
  </head>
  <body>
    <br>
      <span class="italic">Prix Boursier : {{prixb}} euros</span> <br>
      <span class="italic">Prix Non Boursier : {{prixnb}} euros</span>
    <br><br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Region</th>
      <th scope="col">barre</th>
      <th scope="col">concours</th>

    </tr>
  </thead>
  <tbody>
{% for eco in ecolesinfo %}
<tr>
      <th scope="row">{{eco[2]}}</th>
      <td>{{eco[4]}}</td>
      <td>{{eco[5]}}</td>
      <td>{{eco[-1]}}</td>
      <td>{{eco[-3]}}</td>

</tr>
    
    {% endfor %}
  </tbody>
</table>
     
  </body>
</html>
