<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>Prix</title>
  </head>
  <body>
      Prix Boursier : {{prixb}} euros <br>
      Prix Non Boursier : {{prixnb}} euros

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Region</th>
      <th scope="col">barre</th>
      <th scope="col">concours</th>

    </tr>
  </thead>
  <tbody>
{% for eco in ecolesinfo %}
<tr>
      <th scope="row">{{eco[2]}}</th>
      <td>{{eco[4]}}</td>
      <td>{{eco[5]}}</td>
      <td>{{eco[-1]}}</td>
      <td>{{eco[-3]}}</td>

</tr>
    
    {% endfor %}
  </tbody>
</table>
     
  </body>
</html>
